{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %} 
{{ super() }}

{% block navbar %}
<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <h1><a class="navbar-brand"></h1>            
        <ul class="list-inline mb-0">
            <li class="list-inline-item me-4">
                <a class="text-lg-end text-primary" style="margin-right: 30px; font-size: large;" href="{{ url_for('main.index') }}"><b>Вернуться на начальную страницу</b></a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
{% block header %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-info">
                    <!-- Page heading-->
                    <h1 class="mb-5"><em>Центр правовой помощи при банкротстве</em></h1>
                <div class="text-center text-white">
                    <!-- Page heading-->
                    {% if not success %}
                    <h2 class="mb-5">Пожалуйста, заполните форму!</h2>
                    {% endif %}
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    
                    <!--Claim info input-->
                    <p class="text-center text-info" style="font-size: x-large;">{{ success }}</p>            
                    {% if success %}
                    <p><a class="text-center text-white" style="margin-bottom: 25px; font-size: x-large;" href="{{ url_for('main.claim_form') }}">Подать ещё одну заявку</a></p>
                    {% endif %}
                    {% if not success %}
                    <form action="" method="post">
                        {{ csrf_token }}
                        {{ form.hidden_tag() }}
                        {{ wtf.form_errors(form, hiddens="only") }}
                        <h4 class="text-center">Как к Вам обращаться?</h4>
                        {{ wtf.form_field(form.name, class="form-control form-control-lg") }}
                        {% if form.name.errors %}
                        <ul class="error" style="color:rgb(220, 20, 20)">
                            {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <h4 class="text-center" style="margin-top: 25px;">Ваш Email</h4>
                        {{ wtf.form_field(form.email, class="form-control form-control-lg") }}
                        {% if form.email.errors %}
                        <ul class="error" style="color:rgb(220, 20, 20)">
                            {% for error in form.email.errors %}                            
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <h4 class="text-center" style="margin-top: 25px;">Ваш номер телефона</h4>
                        {{ wtf.form_field(form.phone_number, class="form-control form-control-lg") }}
                        {% if form.phone_number.errors %}
                        <ul class="error" style="color:rgb(220, 20, 20)">
                            {% for error in form.phone_number.errors %}
                            {% set error = 'Неверный формат номера' %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <h4 class="text-center" style="margin-top: 25px;">Ваш населенный пункт</h4>
                        {{ wtf.form_field(form.location, class="form-control form-control-lg") }}   
                        <h4 class="text-center" style="margin-top: 25px;">Изложите Ваш вопрос</h4>
                        {{ wtf.form_field(form.fabula, class="form-control form-control-lg", style="min-height: 250px") }}
                        <div style="float: center; margin-top: 25px;"> 
                        {{ wtf.form_field(form.submit, button_map={'submit': 'btn btn-primary btn-lg'}) }}                        
                        </div> 
                    </form>
                    {% endif  %}
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% endblock %}