{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %} 
{{ super() }}

{% block navbar %}
<!-- Navigation-->
<nav class="navbar navbar-brand bg-light static-top">
    <div class="container">
        <a class="btn btn-primary" href="{{ url_for('main.claim_form') }}"><b>Оставить заявку на сайте</b></a>
        <ul class="list-inline mb-0">
            <li class="list-inline-item me-4">
                <a href="https://t.me/brain_iobot"><i class="bi-telegram fs-3"></i></a>
            </li>
                <a class="text-lg-end text-primary" href="https://t.me/brain_iobot"><b>Telegram</b></a>                    
                <a class="text-lg-end text-primary" style="margin-left:5px;" href="https://t.me/brain_iobot"><b>(оставить заявку)</b></a>
        </ul>
    </div>
</nav>
{% endblock %}
<!-- Masthead-->
{% block header %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-info">
                    <!-- Page heading-->
                    <h1 class="mb-5"><em>Бюро юридических услуг</em></h1>
                    <h2 class="mb-5"><em>Добрый день! Изложите Ваш вопрос</em></h2>
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h2 class="mb-5">Оставьте Ваш email. С Вами свяжется специалист!</h2>
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form action="{{ url_for('main.get_email') }}" class="form-subscribe" id="contactForm" method="post">
                        <!-- Email address input-->
                        <div class="row">
                            <div class="col">
                                <input class="form-control form-control-lg" id="emailAddress" type="email" placeholder="Ваш Email адрес" name="email"/>
                                <p class="text-center" style="margin-top: 10px;">{{ success }}{{ repeat }}</p>
                            </div>                                    
                            <div class="col-auto"><button class="btn btn-primary btn-lg" id="submitButton" type="submit"><b>Отправить</b></button></div>
                        </div>
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Ошибка отправки сообщения!</div></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% endblock %}